:root {
    --grey: rgb(223, 225, 235, 0.4);
    --opaquegrey: rgb(223, 225, 235);
    --greyletter: #737373;
}

.book-card {
    /* margin: 2rem; */
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* .book-card:hover {
    animation-name: pop-card;
    animation-duration: 1s;
    animation-direction: alternate;
} */

/* @keyframes pop-card {
    0% {left: 0px; top: 0px; box-shadow: 0px 0px 0px var(--grey);}
    100% {left: 10px; top: 10px; box-shadow: -10px -10px 10px var(--grey);}
} */

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.book-thumb-img {
    width: 100px;
    height: auto;
}

.thumb-cover {
    width: 150px;
    height: 230px;
}

.thumb-cover > a:hover {
    text-decoration: none;
}

.book-thumb-title {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}


.book-price {
    width: 100px;
    color: var(--red);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border: 2px solid var(--red);
    border-radius: 10%;
}

.book-price:hover {
    color: white;
    background-color: var(--red);
}