.book-card {
    border-radius: 10%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.book-thumb-img {
    width: 100px;
    height: auto;
}

.thumb-cover {
    width: 150px;
    height: 230px;
}

.thumb-cover > a:hover {
    text-decoration: none;
}

.book-thumb-title {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}


.book-price {
    width: 100px;
    color: var(--red);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border: 2px solid var(--red);
    border-radius: 10%;
}

.book-price:hover {
    color: white;
    background-color: var(--red);
}