/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');

:root {
    --grey: rgb(223, 225, 235, 0.4);
    --opaquegrey: rgb(223, 225, 235);
    --greyletter: #737373;
} */

.container-book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 2rem;
    gap: 2rem;
}

@media (max-width: 400px) {
    .container-book-grid {
        display: flex;
        flex-direction: column;
    }
   
}

@media (max-width: 768px) {
    .container-book-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
   
}