.cadastro {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-family: 'Fira Sans';
}

.cadastro a {
    color: var(--red);
    font-weight: 600;
}

.cadastro h1 {
    font-family: 'Barlow COndensed';
}

.cadastro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    place-items: center;
    gap: 1rem;
    width: 50vw;
}

.cadastro-container input[type] {
    border: 1px solid var(--red);
}

.cadastro-container input[type]:focus {
    outline: 3px solid var(--red);
}

.title-form, .offer-login, .cadastro-container>button {
    grid-column: 1/3;
}
