.conta-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 2rem;
    gap: 1rem;
    height: 50vh;
    background-color: var(--red);
}

.cadastro-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid var(--red);
    border-radius: 10px;
    height: 100%;
    background-color: white;
}