@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');

:root {
    --black: #211b1c;
    --red: #f01d2e;
    --mustyblack: #151d11;
}

.container {
    display: flex;
    justify-content: center;
}

.banner-top {
    width: 100%;
    min-height: 200px;
    max-height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-top {
    position: relative;
    height: 70vh;
    animation-name: slide-right;
    animation-duration: 2s;
    /* animation-delay: 2s; */
}

/* animations */
@keyframes slide-right {
    0% {right: -100px; }
    100% {right: 0px;}
}

.message-top {
    position: relative;
    left: 4rem;
    animation-name: slide-left;
    animation-duration: 2s;
}

@keyframes slide-left {
    0% {left: -100px}
    100% {left: 4rem;}
}

h4, h2 {
    font-family: 'Fira Sans';
    color: var(--red);
    text-shadow: 1px 1px 1px #000;
}

h1 {
    font-size: 40px;
}