@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');

* {
    margin-top: 0;
}

:root {
    --red: #f01d2e;
    --greyletter: #737373;
}

.book-title {
    grid-column: 1/3;
    font-family: 'Barlow Condensed';
    font-weight: 600;
}

.book-author {
    color: var(--greyletter);
}

.book-rating {
    color: var(--greyletter);
}

.book-price {
    width: 100px;
    color: var(--red);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border: 2px solid var(--red);
    border-radius: 10%;
}

.book-price:hover {
    color: white;
    background-color: var(--red);
}

.sinopse {
    padding-top: 1rem;
    font-size: 1rem;
}

.cart-line {
    grid-row: 3/5;
    align-self: flex-start;
    justify-self: flex-start;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* padding: 30px; */
}