@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');

:root {
    --grey: rgb(223, 225, 235, 0.4);
    --opaquegrey: rgb(223, 225, 235);
    --greyletter: #737373;
}

.main {
    font-family: 'Fira Sans';
    box-sizing: border-box;
    padding: 2rem;
    width: clamp(100%, 80%, 70%);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: repeat(5, auto);
    gap: 2rem;
}

.book-section {
    height: auto;
}

.cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    width: 300px;
    height: 500px;
}

.booktable {
    /* border: 1px solid var(--opaquegrey); */
    grid-column: 1/3;
    border-collapse: collapse;
}

td {
    border: 1px solid var(--opaquegrey);
    background-color: var(--grey);
    padding: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--greyletter);
}  

td:nth-child(even) {
    background-color: white;
    width: 70%;
    font-weight: 500;
}

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}