#login {
    background-color: white;
    width: 100%;
    height: 100%;
    border: 3px solid var(--red);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 2rem;
}

label {
    width: 100px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}