@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');

.title {
    font-family: 'Barlow Condensed';
    font-size: larger;
    font-weight: 600;
}