@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');

:root{
    --greyborder: rgb(223, 225, 235, 0.8);
    --red: #f01d2e;
    --black: #211b1c;
}

.container-cards-shadow {
  
  padding-bottom: 30px;
}

.cardcontainer {
    border: 1px solid var(--greyborder);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 3px 5px var(--greyborder);
}

h4 {
    color: var(--red)
}

p {
    font-size: 10px;
}

.card {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--greyborder);
    color: var(--red);
    padding: 0 1rem;
}

.cardtext {
    padding: 1rem;
    width: 75%;
    color: var(--black);
}

.icon-card-top {
    width: 25%;
    font-size: 5rem;
}