.home-header {
    color: #FFF;
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: rgb(114, 18, 204);;
}
.link-cart {
    color: #FFF;
    font-size: 14pt;
}
.list-books {
    display: flex;
    font-size:  13pt;
}
.list-row {
    color: #000;
    text-align: center;
    margin: 10% auto;
    padding: 50px;
    font-weight: bold;
    font-size: 14pt;
    background-color: rgb(255, 255, 255);
}
.list-button {
    cursor: pointer;
    height: 40px;
    font-size: 14pt;
    color: #FFF;
    border: 1px solid #000;
    background-color: rgb(114, 18, 204);
}