@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');


:root {
    --red: #f01d2e;
    --grey: rgb(223, 225, 235, 0.4);
}

button {
    margin-left: 10px;
   
    font-family: 'Fira Sans';
    font-weight: 600;
    background-color: var(--red);
    border: 0px;
    color: white;
    box-shadow: 5px 5px 5px #000;
    border-radius: 100px;
    height: 35px;
    width: 100px;
}

button:hover {
    color: var(--red);
    border: 1px solid var(--red);
    background-color: transparent;
    cursor: pointer;
}