:root {
    --grey: rgb(223, 225, 235, 0.4);
    --greyletter: #737373;
}

.qtde-cart {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.muda-qtde {
    color: var(--greyletter);
    width: 35px;
    height: 35px;
    border: 2px solid var(--greyletter);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.muda-qtde:hover {
    color: white;
    background-color: var(--greyletter);
    cursor: pointer;
}

.qtde {
    color: var(--greyletter);
    width: 5rem;
    height: 35px;
    border: 2px solid var(--greyletter);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qtde:hover {
    color: white;
    background-color: var(--greyletter);
}
