body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(2, 10, 15);
}
.game-title {
    color: rgb(255, 255, 255);
    font-size: 30pt;
    text-align: center;
}
.game-stop {
    background-color: rgb(207, 46, 18);
}
.game-start {
    background-color: rgb(18, 207, 34);
}
.game-stop, .game-start {
    cursor: pointer;
    color: #FFF;
    margin-left: 10px;
    padding: 10px;
    font-size: 15pt;
    font-weight: bold;
    border: 0 solid transparent;
}
.game-buttons {
    display: table;
    margin: 0 auto;
}
.board {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 5% auto;
    background-color: transparent;
}
.content-board {
    width: 50%;
    float: left;
    background-color: transparent;
}
.row {
    display: flex;
}
.shape {
    cursor: pointer;
    width: 112.50px;
    height: 92.50px;
    line-height: 92.50px;
    text-align: center;
    color:#FFF;
    font-size: 70pt;
    border: 2px solid #FFF;
    padding: 10px 0 10px 0;
    background-color: rgb(143, 48, 11)
}
.history {
    width: 600px;
    float: right;
    margin: 5% auto;
}
.history-button {
    cursor: pointer;
    width: 100%;
    font-size: 20pt;
}