.container-cart {
  color: #FFF;
}
.notification {
  position: fixed;
  left: 10px;
  bottom: 100px;
  font-size: 14pt;
  border-radius: 20%;
  padding: 10px;
  color: #000;
  background: #90EE90;
}
.link-home {
  color: #FFF;
}
.list-cart {
  margin: 20px auto;
}
.items-list-cart {
  color: #000;
  background-color: #FFF;
}
.header-list-cart {
  color: #FFF;
  background-color: rgb(114, 18, 204);
}
.footer-list-cart {
  color: #FFF;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  background-color: rgb(114, 18, 204);
}
.items-list-cart, .header-list-cart {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}
.cart-item {
  width: 100%;
}
.btn-amount-cart {
  width: 30px;
  color: #FFF;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 100%;
  background-color: rgb(114, 18, 204);
}