.main {
    padding: 2rem;
    width: clamp(100%, 80%, 70%);
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.booktable {
    border: 1px solid black;
    grid-column: 1/3;
}

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}