@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Fira+Sans:wght@300&display=swap');


:root {
    --black: #211b1c;
    --red: #f01d2e;
    --mustyblack: #151d11;
}

.topmenu {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    width: 100vw;
    background-color: var(--mustyblack);
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}